@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Default (Light Mode) */
:root {
  /* Brand colors */
  --brand-gradient: linear-gradient(140deg, rgba(67, 184, 252, 0.9), rgba(255, 0, 212, 0.89));
  --brand-gradient-2: linear-gradient(-45deg, rgba(249, 249, 249), rgba(249, 249, 249));
  --brand-color-1: rgba(75, 87, 255, 0.781);
  --brand-color-2: rgba(51, 222, 228, 0.781);
  --brand-color-3: rgba(249, 249, 249);
  --brand-color-3-opacity: rgba(249, 249, 249, 0.822);

   /* Text colors */
  --text-color: #333;
  --text-color-light: #fff;
  --text-color-secondary: #ccc;

  /* Fonts */
  --font-family-base: 'Poppins', sans-serif;
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-nav: 'Inter', sans-serif;

  /* Buttons */
  --button-color: rgba(228, 39, 203, 0.911);










  /* Navbar backgrounds */
  --navbar-bg-solid: rgba(255, 255, 255, 0.85); /* semi-transparent white */
  --navbar-bg-gradient: linear-gradient(135deg, rgba(108, 99, 255, 0.9), rgba(101, 250, 255, 0.9));
  --navbar-border: rgba(0, 0, 0, 0.05);
--accent-color: rgba(51, 222, 228, 0.781);

  /* Backgrounds */
  --bg-color: #fdfbfb;

  // About
    --color1: rgba(255, 255, 255, 0.85);
  --color2: rgba(188, 228, 255, 0.85);
  --color3: rgba(255, 255, 255, 0.85);
  --color4: rgba(204, 234, 255, 0.85);
  --color-text: #2a2a2a;
  --icon-color: #00d4ff;

  --gradient-speed: 15s;
  --pulse-duration: 2.3s;
  
}

// About
$font-heading: "Baloo 2", sans-serif;
$font-body: "Inter", sans-serif;

/* Dark Mode (future) */
[data-theme="dark"] {
  /* Brand colors */
  --brand-gradient: linear-gradient(140deg, rgba(67, 184, 252, 0.9), rgba(255, 0, 212, 0.89));
  --brand-gradient-2: linear-gradient(-45deg, rgba(249, 249, 249), rgba(249, 249, 249));
  --brand-color-1: rgba(75, 87, 255, 0.781);
  --brand-color-2: rgba(183, 0, 255, 0.781);
  --brand-color-3: rgb(0, 0, 0);
  --brand-color-3-opacity: rgba(0, 0, 0, 0.822);
  --accent-color: rgba(183, 59, 255, 0.781);

   /* Text colors */
  --text-color: #333;
  --text-color-light: #fff;
  --text-color-secondary: #ccc;

  /* Fonts */
  --font-family-base: 'Poppins', sans-serif;
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-nav: 'Inter', sans-serif;

  /* Buttons */
  --button-color: rgba(228, 39, 203, 0.911);
}
