.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--brand-gradient);
  transform: scaleX(0);
  transform-origin: left center;
  z-index: 9999;
}
