.App {
  position: relative;
  background: linear-gradient(90deg, rgb(11, 0, 110) 10%, rgb(0, 1, 53) 100%);
  text-align: center;
  user-select: none;
  width: 100%;
  z-index: 0;
}



.App-link {
  color: #61dafb;
}

