@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.video_bg {
    object-fit: cover;
    width: 100vw;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    z-index: 0;
  }

  .text-container {
    position:relative;
    top: 20vh;
    left:0;
    width:100%;
    color: rgb(173, 217, 255);
    text-shadow: 5px 5px 8px black;
    font-family: 'Cormorant Garamond', serif;
  }

  
  h1.text{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    font-size: 7.6pc;
  }

  h2.text{
    position:absolute;
    top:200px;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    font-size: 7.4pc;
  }

  .code {
    position: relative;
    top: 245px;
    left: 530px;
    font-size: 90px;
  }

  .chev {
    position: relative;
    top: 35px;
    left: -570px;
    font-size: 80px;
  }

  @media (max-width: 960px) {
    h1.text {
      font-size: 6.2pc;
    }
    h2.text {
      font-size: 6.2pc;
    }
    }

    @media (max-width: 600px) {
      h1.text {
        font-size: 4pc;
      }
      h2.text {
        font-size: 4pc;
      }
      }